.home {
  font-size: 12px;
  height: 100%;
  width: 100%;
  position: relative;
  img {
    height: 3rem;
    width: auto;
    margin-bottom: 10px;
  }
  .folderContainer {
    position: absolute;
    right: 2rem;
    top: 2rem;
    text-align: center;
    .journal {
      margin-bottom: 2rem;
    }
  }
}
