$navColor: rgb(237, 237, 237);

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 25px;
  z-index: 10;
  cursor: default;
  background-color: $navColor;
  border-bottom: 1px solid rgb(225, 225, 225);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  .leftNav {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    img {
      height: 16px;
      width: auto;
      padding-right: 10px;
      padding-left: 18px;
    }
    ul {
      display: flex;
      list-style: none;
      li {
        padding: 0 8px;
      }
    }
  }
  .rightNav {
    width: 14rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .battery {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 60px;
    }
    img {
      height: 13px;
      width: auto;
    }
  }
  .menuToggle {
    display: none;
    cursor: pointer;
  }
}

@media only screen and (max-width: 800px) {
  nav {
    .leftNav {
      display: none;
    }
    .rightNav {
      width: 7rem;
      .battery {
        display: none;
      }
      img {
        display: none;
      }
    }
    .menuToggle {
      display: block;
      height: 14px;
      width: auto;
      padding-left: 18px;
    }
  }
}
