.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 80px 1fr;
      grid-template-rows: 80px 1fr;
  overflow-y: hidden;
}

.grid .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-bottom: thin solid #e1e1e1;
  width: calc(100% - 100px);
  margin: 0 auto;
}

.grid .search img {
  height: 20px;
  cursor: pointer;
  width: auto;
}

.grid .search img:focus {
  outline: 0;
}

.grid .search .searchBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: thin solid black;
  -webkit-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
}

.grid .search .searchBar input {
  margin: auto 0;
  width: 95%;
  height: 40px;
  margin-left: 20px;
  border: none;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.grid .search .searchBar input:placholder {
  font-weight: 200;
}

.grid .search .searchBar input:focus {
  outline: 0;
}

.grid .search .searchBar .close {
  margin-left: auto;
}

.grid .blog {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  -ms-grid-rows: (200px)[auto-fill];
      grid-template-rows: repeat(auto-fill, 200px);
  overflow-y: scroll;
  padding: 50px;
  grid-gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid .blog a:last-child {
  margin-bottom: 50px;
}

.grid .blog a:last-child .title {
  margin-top: 10px;
}

.grid .blog a .entryContainer {
  position: relative;
  height: 200px;
}

.grid .blog a .entryContainer:hover .hover {
  opacity: 1;
}

.grid .blog a .entryContainer .hover {
  font-weight: 400;
  font-size: 18px;
  -webkit-transition: opacity ease-in 0.2s;
  transition: opacity ease-in 0.2s;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  opacity: 0;
}

.grid .blog a .entryContainer .hover .title {
  width: 80%;
  line-height: 1.5;
}

.grid .blog a .entryContainer img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

#noEntry {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 200;
}

@media only screen and (max-width: 749px) {
  .grid .blog {
    -ms-grid-rows: (300px)[auto-fill];
        grid-template-rows: repeat(auto-fill, 300px);
  }
  .grid .blog a .entryContainer {
    height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .grid .search {
    width: 300px;
  }
}

@media only screen and (max-width: 350px) {
  .grid .search {
    width: 250px;
  }
  .grid .blog {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    -ms-grid-rows: (250px)[auto-fill];
        grid-template-rows: repeat(auto-fill, 250px);
  }
  .grid .blog a .entryContainer {
    height: 250px;
  }
}
/*# sourceMappingURL=style.css.map */