.entryBox {
  height: 100%;
  .back {
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 25px;
    left: 50px;
    height: 80px;
    border-bottom: thin solid rgb(225, 225, 225);
    width: calc(100% - 100px);
    margin: 0 auto;
    background-color: white;
    img {
      height: 20px;
      width: auto;
    }
  }
  .entryScroll {
    .entry {
      margin-top: 105px;
      height: 100%;
      width: 100%;
      font-weight: 200;
      padding: 0 200px;
      line-height: 1.8;
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .entryBox {
    .entryScroll {
      .entry {
        padding: 0 100px;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .entryBox {
    .entryScroll {
      .entry {
        padding: 0 50px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .entryBox {
    .back {
      width: 300px;
      left: calc((100% - 300px) / 2);
    }
    .entryScroll {
      .entry {
        padding: 0 calc((100vw - 300px) / 2);
        span {
          font-size: small;
        }
      }
    }
  }
}

@media only screen and (max-width: 350px) {
  .entryBox {
    .back {
      width: 250px;
      left: calc((100% - 250px) / 2);
    }
    .entryScroll {
      .entry {
        padding: 0 calc((100vw - 250px) / 2);
        span {
          font-size: small;
        }
      }
    }
  }
}
