* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    height: 100%;
  }
}

#root {
  height: 100%;
}
