* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    #root {
      height: 100%;
    }
  }
}
